# Created by .ignore support plugin (hsz.mobi)
.gitignore
.idea/.gitignore
.idea/codeStyles/
.idea/gobcog.iml
.idea/inspectionProfiles/
.idea/misc.xml
.idea/modules.xml
.idea/sonarlint/
.idea/vcs.xml
venv/
!/adventure/data/default/gen.py
.idea/pylint.xml
!/adventure/data/default/temp.json
.mypy_cache
.venv/